body{
    margin: 0px;
    padding: 0px;
    background-color:#b3ffcc;
}
.page-heading{
    text-align:center ;
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.know-more{
    position: fixed;
    right: 20px;
    bottom: 20px;
    height:80px;
    width: 80px;
    border-radius:50%;
    background-color:lightgreen;
    padding: 10px;
    border: 2px solid green;
    cursor: pointer;

}
.header-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.celebration{
    width: 500px;
}
.content{
    width: 500px;
    font-size: 20px;
}
.nav{
    background-color:#00802b;
    display: flex;
    align-items: center;
    padding: 5px 60px;
    color:black;
    height: 70px;
}
.veg-emoji{
    font-family: cursive;

}
.veg{
    margin-left: 150px;
    display: flex;
    align-items:center;
}
.veg-item{
    margin:30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.veg-item:hover{
    color:wheat;
}
.veg-icon{
    height: 40px;
    width:40px;
    margin-left: 0px;
    
}
 /* Table device */
@media screen and (min-width:501px) and (max-width:769px) {
.page-heading{
    font-size: 45px;
}
.know-more{
    height: 60px;
    width:60px ;
}

}

/* Desktop Device */
@media screen and (min-width:769px){

}
/* Mobile device */
@media screen and (max-width:500px){
.page-heading{
    font-size: 35px;
}

.know-more{
    height:40px ;
    width:40px ;
}
.celebration{
    width: 350px;
}
.content{
    font-size: 20px;
}
.secondary-content{
    display: none;
}
.veg-emoji{
    font-size:20px;
}
.Veg-text{
    display:none;
}
.veg{
    margin-left:10px;   
}
.veg-item{
margin: 0px;
}
.veg-icon{
    height: 30px;
    width: 30px;
    margin-right: 5px;   
}
}